@{

	ViewData["Title"] = "Weather Page";
	@model NYCFlights2013.Models.Weather
	var weather = (List<Weather>)ViewData["weather"];
	var temp_attribute_celcius = (List<Weather>)ViewData["temp_attribute_celcius"];
	var temp_attribute_celciusJSON = ViewData["temp_attribute_celciusJSON"];
	var temp_attribute_celciusJFK = (List<Weather>)ViewData["temp_attribute_celciusJFK"];
	int globalCounter = 26004; // How many rows to extract
	string[] ChartHeadersWeather = new string[] {
	"Year",
	"Month",
	"Day",
	"Departure Time",
	"Departure Delay",
	"Arrival Time",
	"Arrival Delay",
	"Carrier",
	"Tail Number",
	"Flight",
	"Origin",
	"Destination",
	"Air Time",
	"Distance",
	"Hour",
	"Minute"};          //TODO: Use appropriate fields.

	// Extract all three origins
	string dps_full_three_origins = "";
	for (int i = 0; i <= globalCounter; i++)
	{

		string dps_three_origins = "{x: new Date(2011, 9, 9), y: 22},"
			.Replace("2011", temp_attribute_celcius[i].year)
			.Replace("9,", (Int32.Parse(temp_attribute_celcius[i].month) - 1).ToString() + ",")
			.Replace("9", temp_attribute_celcius[i].day)
			.Replace("22", temp_attribute_celcius[i].temp);

		if (i == globalCounter)
		{
			dps_three_origins = dps_three_origins.Remove(dps_three_origins.Length - 1);
			dps_three_origins = dps_three_origins.Insert(dps_three_origins.Length, "]");
		}

		dps_full_three_origins += dps_three_origins;
	}
	// Extract JFK origin
	string dps_full_one_origin = "";
	for (int i = 0; i <= 8710; i++)
	{

		string dps_one_origin = "{x: new Date(2011, 9, 9), y: 22},"
			.Replace("2011", temp_attribute_celciusJFK[i].year)
			.Replace("9,", (Int32.Parse(temp_attribute_celciusJFK[i].month) - 1).ToString() + ",")
			.Replace("9", temp_attribute_celciusJFK[i].day)
			.Replace("22", temp_attribute_celciusJFK[i].temp);

		if (i == 8710)
		{
			dps_one_origin = dps_one_origin.Remove(dps_one_origin.Length - 1);
			dps_one_origin = dps_one_origin.Insert(dps_one_origin.Length, "]");
		}

		dps_full_one_origin += dps_one_origin;
	}

	Console.WriteLine(@temp_attribute_celcius[3366].year); // 3366 returns 2013
	//TODO: Serialize and deserialize objects
	}
	
<!DOCTYPE HTML>
<html>
<head>
	<script type="text/javascript">
		window.onload = function () {
			var data_xAxisThreeOrigins = [
				{ x: new Date(2013, 1, 1), y: null, label: "Jan 2013" },
				{ x: new Date(2013, 2, 1), y: null, label: "Feb 2013" },
				{ x: new Date(2013, 3, 1), y: null, label: "Mar 2013" },
				{ x: new Date(2013, 4, 1), y: null, label: "Apr 2013" },
				{ x: new Date(2013, 5, 1), y: null, label: "May 2013" },
				{ x: new Date(2013, 6, 1), y: null, label: "Jun 2013" },
				{ x: new Date(2013, 7, 1), y: null, label: "Jul 2013" },
				{ x: new Date(2013, 8, 1), y: null, label: "Aug 2013" },
				{ x: new Date(2013, 9, 1), y: null, label: "Sep 2013" },
				{ x: new Date(2013, 10, 1), y: null, label: "Oct 2013" },
				{ x: new Date(2013, 11, 1), y: null, label: "Nov 2013" },
				{ x: new Date(2013, 12, 1), y: null, label: "Dec 2013" },
				@dps_full_three_origins;
			var data_xAxisJFKOrigin = [
				{ x: new Date(2013, 1, 1), y: null, label: "Jan 2013" },
				{ x: new Date(2013, 2, 1), y: null, label: "Feb 2013" },
				{ x: new Date(2013, 3, 1), y: null, label: "Mar 2013" },
				{ x: new Date(2013, 4, 1), y: null, label: "Apr 2013" },
				{ x: new Date(2013, 5, 1), y: null, label: "May 2013" },
				{ x: new Date(2013, 6, 1), y: null, label: "Jun 2013" },
				{ x: new Date(2013, 7, 1), y: null, label: "Jul 2013" },
				{ x: new Date(2013, 8, 1), y: null, label: "Aug 2013" },
				{ x: new Date(2013, 9, 1), y: null, label: "Sep 2013" },
				{ x: new Date(2013, 10, 1), y: null, label: "Oct 2013" },
				{ x: new Date(2013, 11, 1), y: null, label: "Nov 2013" },
				{ x: new Date(2013, 12, 1), y: null, label: "Dec 2013" },
				@dps_full_one_origin;
			var chart1 = new CanvasJS.Chart("chartContainer1", {
				animationEnabled: true,
				zoomEnabled: true,
				title: {
					text: "Temperatures from origins EWR, JFK, LGA"
				},
				axisX: {
					gridThickness: 1,
					title: "Month of Year",
					labelFormatter: function (e) {
			return CanvasJS.formatDate(e.value, "MMM YYYY");
		}
	},
				axisY: {
		gridThickness: 1,
					title: "Temperature in Celcius",
				},
				data: [{
		type: "scatter",
					toolTipContent: "<b>Date: </b>{x} <br/><b>Temperature: </b>{y}°C",
					xValueType: "dateTime",
					dataPoints: data_xAxisThreeOrigins
						// Might need to convert String date to Integer date for the above to work when being fed data.
				}]
			});
			chart1.render();
			var chart2 = new CanvasJS.Chart("chartContainer2", {
				animationEnabled: true,
				zoomEnabled: true,
				title: {
					text: "Temperatures from origin JFK"
				},
				axisX: {
					gridThickness: 1,
					title: "Month of Year",
					labelFormatter: function (e) {
						return CanvasJS.formatDate(e.value, "MMM YYYY");
					}
				},
				axisY: {
					gridThickness: 1,
					title: "Temperature in Celcius",
				},
				data: [{
					type: "scatter",
					toolTipContent: "<b>Date: </b>{x} <br/><b>Temperature: </b>{y}°C",
					xValueType: "dateTime",
					dataPoints: data_xAxisJFKOrigin
					// Might need to convert String date to Integer date for the above to work when being fed data.
				}]
			});
			chart2.render();
	}
	</script>
	<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
	<div id="chartContainer1" style="height: 300px; width: 100%;"></div>
	<div id="chartContainer2" style="height: 300px; width: 100%;"></div>
</body>
</html>